global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend smtp_frontend
    bind *:2525
    default_backend smtp_backend

backend smtp_backend
    balance roundrobin
    option tcp-check
    server mailhog1 mailhog1:1025 check
    server mailhog2 mailhog2:1025 check
